<?php
declare(strict_types = 1);
$db = new \PDO ( 'mysql:host=ratma.net;dbname=paste.ratma.net;charset=utf8mb4', 'db_username', 'db_password', array (
		\PDO::ATTR_EMULATE_PREPARES => false,
		\PDO::ATTR_ERRMODE => \PDO::ERRMODE_EXCEPTION 
	// \PDO::MYSQL_ATTR_COMPRESS => true
) );
define ( 'UPLOAD_DIR', __DIR__ . DIRECTORY_SEPARATOR . 'uploads' . DIRECTORY_SEPARATOR );